{
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/github",
    [
        "@brpaz/semantic-release-helm",
        {
          "chartPath": ".",
          "chartRepository": {
            "branch": "gh-pages",
            "url": "https://brpaz.github.io/semantic-release-helm-demo",
            "repository": "brpaz/semantic-release-helm-demo"
          }
        }
      ]
  ]
}
