{
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/git",
     ["@semantic-release/github", {
      "assets": [
        {"path": ".chart_dist/*.tgz"},
      ]
    }],
    [
        "@brpaz/semantic-release-helm",
        {
          "chartPath": ".",
          "chartRepository": {
            "branch": "gh-pages",
            "url": "https://brpaz.github.io/helm-semantic-release-demo"
          }
        }
      ]
  ]
}
